django
djangorestframework
psycopg2-binary
python-dotenv
djangorestframework-simplejwt
django-cors-headers
drf-nested-routers
django-import-export
django-unfold
Faker
gunicorn
dj-database-url
whitenoise
